body {
    display: flex;
    background-color: #CDCCF9;
    justify-content: center;
    align-items: center;
}

.section-container {
    max-width: 550px;
    width: 100%;
    background: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 12%;
}

input,
select {
    margin-bottom: 10px;
}

input {
    border-style: none;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    margin-left: 10px;
    width: 250px;
}

.header {
    font-size: 1.1em;
    color: #333;
    font-weight: 500;

}

.input-box label {
    color: #333;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.check-box input {
    width: auto;
}

.select_box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(205, 204, 250);
}

.form button:hover {
    background-color: black;
}

header {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.bannière {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.bannière>ul {
    margin: 0px;
    padding: 0px;
}

.bannière>ul::after {
    content: "";
    display: block;
    clear: both;
}

.bannière>ul>li {
    float: right;
    right: 10%;
    position: relative;
}

.bannière>ul>li>a {
    padding: 20px 30px;
    color: #000000;

}

.bannière li {
    list-style: none;
}

.submenu {
    display: none;
}

.bannière a {
    display: inline-block;
    text-decoration: none;
}

.bannière li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 30px;
    padding: 0px;
    z-index: 1000;
}

.submenu li {
    border-bottom: 1px solid #000000;
}

.submenu li a {
    padding: 20px 30px;
    font-size: 15px;
    color: #000000;
    width: 270px;

}
.submenu li a:hover{
    background-color: rgba(131, 36, 7, 0.5);
}
footer {
    width: 100%;
    color: whitesmoke;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    left: 0;
}




/* Responsive */
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}
